* {
    box-sizing: border-box;
}

#banner {
    width: 100%;
    height: 700px;
    /* border: 1px solid red; */
}

#banner>img {
    width: 100%;
    height: 100%;
}

#img-mid {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 20px;
    left: 40%;
    margin: auto;
    text-align: center;
    color: white;
}

#img-mid>h1 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 25px;
}

#shopAll {

    /* border: 2px solid red; */
    height: 60px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopAll>p {
    border: 2px solid white;
    width: 35%;
    padding: 10px 20px;
    margin: auto;
}

#shopAll>p:hover {
    border: 4px solid white;

}

#product-list {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 40px;
}

.card:hover {
    cursor: pointer;
}

.card {
    overflow: hidden;
}

.img-box {
    height: 400px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
    overflow-y: hidden;
    object-fit: cover;
}

.card img:hover {
    transform: scale(1.05);
}

.card .heart-back {
    position: absolute;
    border-radius: 50%;
    border: none;
    background-color: white;
    height: 32px;
    width: 32px;
    margin-top: 3px;
    font-size: 20px;
    z-index: 1;
}

.card .heart-back>img {
    border-radius: 50%;
}

.card>p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card button:hover {
    cursor: pointer;
}

.prod-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #121212;
}

.prod-price {
    font-size: 14x;
    font-weight: 400;
    line-height: 17px;
    color: #121212;
}

#shop {
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    color: #121212;
    margin-top: 80px;
    margin-bottom: -60px;
}

#pc {
    text-align: center;
    margin-top: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: rgba(18, 18, 18, 0.75);
    margin-bottom: 50px;
}

#fol-insta {
    text-align: center;
    margin-top: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: rgba(18, 18, 18, 0.75);
    margin-bottom: 50px;
}

#more {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15px;
    color: rgb(46, 134, 250);
    font-weight: 900;
    border: none;
    background-color: transparent;
    padding: 0 0 5px 0;
    border-bottom: 2px solid rgb(46, 134, 250);
    margin-top: 20px;
    margin-bottom: 80px;
}


#grid-img-list {
    width: 70%;
    margin: auto;
}

#grid-img-list-shop-social {
    width: 50%;
    margin: auto;
}

#shop-feed-list {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "A A B C D"
        "A A E F F"
        "G H I F F";
    gap: 10px;
    margin-bottom: 10px;
}

#shop-feed-list>div {
    display: grid;
    overflow: hidden;
}

#shop-feed-list>div:nth-child(1) {
    grid-area: A;
}

#shop-feed-list>div:nth-child(2) {
    grid-area: B;
}

#shop-feed-list>div:nth-child(3) {
    grid-area: C;
}

#shop-feed-list>div:nth-child(4) {
    grid-area: D;
}

#shop-feed-list>div:nth-child(5) {
    grid-area: E;
}

#shop-feed-list>div:nth-child(6) {
    grid-area: F;
}

#shop-feed-list>div:nth-child(7) {
    grid-area: G;
}

#shop-feed-list>div:nth-child(8) {
    grid-area: H;
}

#shop-feed-list>div:nth-child(9) {
    grid-area: I;
}

.grid-img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    z-index: 1;
}

.grid-img:hover {
    cursor: pointer;
    transform: scale(1.05);
}