* {
    margin: 0px;
    padding: 0px;
    font-family: Assistant, sans-serif;
}

#top-head {
    padding: 8px;
    color: #4f4f4f;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}


#navbar {
    border: 1px solid rgb(207, 206, 206);
    padding: 25px 0px;

}

#nav-box {
    width: 80%;
    margin: auto;
    display: flex;
    /* border: 1px solid rgb(0, 100, 128); */
}

#nav-left {
    /* border: 1px solid green; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#nav-left>a>img {
    width: 100px;
    margin-right: 30px;
}

#all-a>a {
    text-decoration: none;
    color: #4f4f4f;
    font-weight: 400;
    font-size: 14px;
}

#all-a {
    display: flex;
    gap: 25px;
}

#all-a>a:hover {
    text-decoration: underline;
}

#nav-right {
    /* border: 1px solid blue; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 26%;
}

#nav-right>a>img {
    width: 35px;
}